# Copia este archivo a .env (NO subas .env a GitHub)
GROQ_API_KEY=
# URLs de los microservicios (local o Render)
URL_LECTURA_PRINCIPAL=http://localhost:8001
URL_LECTURA_RESPALDO=http://localhost:3001
URL_INSERTAR=http://localhost:8080
URL_ACTUALIZAR=http://localhost:8000
URL_ELIMINAR=http://localhost:3000
